@model IEnumerable<Day9_HW.Models.Student>
@{
    ViewBag.Title = "Все студенты";
}
<a asp-action="Create">Добавить студента</a>
<table class="table">
    <tr><td>ID</td><td>Имя студента</td></tr>
    @foreach (var item in Model)
    {
        <tr><td>@item.StudentId</td><td>@item.StudentFullName</td></tr>
    }
</table>
